.container-redes__social {
    color: rgb(0, 0, 0);
    grid-area: c;
    align-content: center;
    justify-self: end;
    
}


.links {
    color: black;
}

.icon {
    font-size: 25px;
    padding: 10px;
}

.final-container {
    color: #fff;
    background-color: #780000;
    padding: 10px;
    grid-area: b;
    align-content: center;
    
}

.container-logo {
    /* width: 10px; */
    grid-area: a;
    justify-items: start;
}

@media only screen and (min-width: 768px){
    .container-redes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a b c";
            text-align: left;
    }
    
} 

@media only screen and (max-width: 768px){
 .final-container{
    text-align: center;
 }
}

.row {
    padding-top: 0.5em ;
    /*Separa un poco el footer de lo demás*/
    text-align: center;
    /*Creo que no es indispensable pues ya centré cada div del footer*/
    margin-top: auto;
    /*a propiedad margin-top establece el margen superior de un elemento especificando una longitud o un porcentaje. Los valores en porcentaje se refieren al ancho del elemento padre. Se permiten márgenes negativos.*/
    margin: 0;
    width: 100%;
}

.footer{
    margin-top: auto;
}

