/*
* Importaciones de Hojas de Estilos Externas
*/
@import url(./primeraseccion.css);
@import url(./segundaseccion.css);
@import url(./terceraseccion.css);
@import url(./cuartaseccion.css);
@import url(./MediaQueries_Index.css);


/* Creación de variables CSS */
:root {
    
    --color-fondo-principal: #780000;
    --color-iconos-redes: #C1121F;
    --color-texto-barra-navegacion: #FDF0D5;
    --color-fondo-barra-navegacion: #175676;
    --color-fondo-paginas: #CCE6F4;
    --color-dorado: #EDB33B;

    --fuente-principal: 'Roboto', sans-serif;
    --fuente-titulos: "Poppins", sans-serif;

    --tamaño-titulos: 85px;
    --tamaño-subtitulos: 36px;
    --tamaño-cuerpotexto: 30px;

}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#paginabody{
    background-color: var(--color-fondo-paginas);
}

#textoNavbar {
    color: var(--color-texto-barra-navegacion);
}

/* Estilos de los iconos de la barra de navegación */
.iconoGolden {
    width: 150px;
}

.iconoNavbar {
    width: 33px;
    margin-right: 5px;
}

/* Alineación de la barra de navegación */
.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Ajuste de los elementos individuales */
.nav-item {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 0px;
    transition: transform 0.4s ease;
}

.nav-item:hover {
    transform: scale(1.03);
}

/* Estilos del carrousel */
.fs-1,
.fs-4 {
    font-family: poppins;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.navbar{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
}




@media (max-width: 768px) {
    .nav-item:hover {
        transform: scale(1);
        opacity: 0.8;
    }
    

    .iconoNavbar {
        width: 16px;
        /* Tamaño de iconos más pequeño para dispositivos pequeños */
        margin-right: 8px;
    }

    .carousel-caption {
        display: none;
    }
}