/*----------------------------------------------------------------*/
 /* Tercera Seccion    */    

.columna-texto{
    text-align: left;
    font-size: 25px;
    color: black;

    overflow: hidden;
    height: 600px;
}
.columna-texto> h1{
    font-size: 50px;
    text-align: center;
}
